@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #222;
  scroll-behavior: smooth;
  /* background: #000; */
}

*::-webkit-scrollbar {
  width: 0px;
}

/* primary #FF676D */
/* button #2C9AFF*/
/* gray #F7F7F7 */